<h1>Please add your cities!</h1>
<form action="viewPlaces" method="post">
<label for="Places">Name of city you would like to add: </label>
<input type="text" name="placeCity">
  <br><br>
<label for="StayedDays">How many days did you stay at said location: </label>
<input type="text" name="StayedDays">
  <br><br>
<label for="AddPicture">Link a picture url :</label>
<input type="text" name="AddPicture">
<br><br>
<button type="submit">Submit here</button>
</form>
