<h1>Please add your cities!</h1>
<form action="viewPlaces" method="post">
<label for="Places">Name of city you would like to add: </label>
<input type="text" name="placeCity">
<button type="submit">Submit here</button>
</form>
