<h1>Places you have visited</h1>
<ul>
  @foreach (var place in Model)
  {
    <li>
      <a href='viewPlaces/@place.GetId()'>@place.GetCities()</a>
      <li>
        @place.GetDays()
      </li>
      <li>
        <img src="@place.GetPicture()">
      </li>
    </li>
  }
</ul>
<a href="/">Add another place</a>
<a href="/clearPlaces">Clear all</a>
